n8n-workflows/pdf_summarizer.json
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an intelligent data extraction API. Your sole function is to analyze the provided pdf and return a valid JSON object. Do not output any text or explanation before or after the JSON.\n\nTEXT TO ANALYZE:\n\"\"\"\n{{ $json.text }}\n\"\"\"\n\nBased on the text, generate a JSON object with the following structure:\n{\n\"filename\":\"{{ $('Download file1').item.json.name }}\"\n\n  \"summary\": \"A summary of the document.\",\n  \"keywords\": [\"keyword1\", \"keyword2\", \"keyword3\"]\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [416, 208],
      "id": "f1607c21-352b-43b9-b4e3-0629cd925a51",
      "name": "AI Agent3"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1txxcag3i6ksIX-XeD89FAZcs8oxrhqNs",
          "mode": "list",
          "cachedResultName": "n8n_folder",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1txxcag3i6ksIX-XeD89FAZcs8oxrhqNs"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [-272, 192],
      "id": "ad91f85b-e7ad-47aa-8dba-f5275c20cd70",
      "name": "Google Drive Trigger5",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2I3QFbFLWTCoKFxX",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [320, 432],
      "id": "ef66048a-ec2d-4ef8-83a2-070377ecea89",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "HsGsqJs9BoObeTJa",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [160, 208],
      "id": "17124349-d1f5-470e-9a61-657edf747075",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [-64, 192],
      "id": "491086da-2d4b-4203-b6c9-12755cbc8f4b",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2I3QFbFLWTCoKFxX",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "connections": {
    "Google Drive Trigger5": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2d313f21694c30035479e3643bdfcdf918dbc842890c3a959b7a521820ef9d02"
  }
}
